@model PontoDigital.ViewModels.HomeViewModel
@{
    Layout="_Layout";
}
<p>Pesquisa:</p>
<form action='@Url.Action("BuscarRegistros","Home")' method="POST">
    <label for="data">Data:</label>
    <input type="date" name="data">

    <input type="submit" value="Filtrar">
</form>

<h2>Registro de Depoimentos</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Mensagem</th>
            <th>Data e Horário</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Depoimentos){
            @if(item == null){
                continue;
            }
        <tr>
            <td>@item.Nome</td>
            <td>@item.Sobrenome</td>
            <td>@item.Email</td>
            <td>@item.Mensagem</td>
            <td>@item.DataEntrada</td>
        </tr>
        }
    </tbody>
</table>